In [1]:
import numpy as np

In [2]:
python_list = [1, 2, 3, 4, 5]
print(python_list)
print(type(python_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [4]:
num_array = np.array(python_list)
print(num_array)
print(type(num_array))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [6]:
array_2d = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
print(array_2d)
print(type(array_2d))

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
<class 'list'>

In [7]:
np_2d = np.array(array_2d)
print(np_2d)
print(type(np_2d))

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
<class 'numpy.ndarray'>

In [8]:
#arange(start, stop, step) will return evenly spaced values within a given interval. 
#The default step size is 1.

In [10]:
np.arange(0, 15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [11]:
np.arange(0, 15, 3)

array([ 0,  3,  6,  9, 12])

In [12]:
#if it's 2d array we can use reshape(rows, columns)

In [13]:
np.arange(0, 15).reshape(3,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [19]:
#if we wants ndarry of zeroes or ones we can call "zeros" or "ones" function
#the default is a float type

In [15]:
np.zeros(15)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [18]:
np.ones(15).reshape(3, 5)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [20]:
#we can change the dtype to int or float or any type

In [21]:
np.ones(15, dtype = int).reshape(3,5)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [22]:
#A common matrix used in linear algebra is the indentiy matrix (an n x n square matrix
#with ones on the main diagonal and zeros elsewhere). We can generate this in np using eye(n)

In [24]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [31]:
#Random numbers can be done i 2 ways
#rand (which will fill the ndarray with random samples from a uniform distribution over[0,1))
#randn (which will return a sample (or samples) from the standard normal distribution).
#randint(low, high, size) to generate a single or multiple random int between [low, high)
#the size is the amount of how many random number you want

In [26]:
np.random.rand(5)

array([0.02351819, 0.7681971 , 0.53696514, 0.44051607, 0.91087084])

In [27]:
np.random.randn(5)

array([ 1.96685294, -0.43665295, -0.42728654, -1.50789157,  1.01874105])

In [28]:
np.random.randint(1,100)

84

In [30]:
np.random.randint(1, 100,5)

array([24, 57, 10, 86, 28])

In [32]:
#min, max, argmin and argmax. 
#The only difference between the two arg methods is that they'll instead return the index
#position of the min/max value

In [34]:
A = np.random.randint(0, 100, 20).reshape(4, 5)
A

array([[79, 89, 63, 48, 39],
       [ 1, 56, 10, 83,  1],
       [16, 48, 18, 47, 41],
       [ 8, 62, 28, 53, 69]])

In [38]:
print("The smallest value in A is ", A.min(), " and is located at position ", A.argmin())
print("The largest value in A is ", A.max(), " and is located at position ", A.argmax())

The smallest value in A is  1  and is located at position  5
The largest value in A is  89  and is located at position  1

In [39]:
#dimension or shape of our ndarray

In [40]:
A.shape

(4, 5)

In [41]:
np.shape(A)

(4, 5)

In [42]:
A = np.arange(1, 16)
B = np.arange(1, 30, 2)
C = np.arange(0, 4).reshape(2, 2)
D = np.arange(0, 4).reshape(2, 2)
E = np.arange(1, 16).reshape(3, 5)
F = np.arange(11)
print(f'A: {A}')
print(f'B: {B}')
print('C:')
print(C)
print('D:')
print(D)
print('E:')
print(E)
print(f'F: {F}')

A: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
B: [ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]
C:
[[0 1]
 [2 3]]
D:
[[0 1]
 [2 3]]
E:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
F: [ 0  1  2  3  4  5  6  7  8  9 10]

In [43]:
#Arithmetic

In [44]:
A + B

array([ 2,  5,  8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44])

In [45]:
A+5

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [46]:
A - B

array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10, -11, -12,
       -13, -14])

In [47]:
A - 5

array([-4, -3, -2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [48]:
A * B

array([  1,   6,  15,  28,  45,  66,  91, 120, 153, 190, 231, 276, 325,
       378, 435])

In [49]:
A * 5

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75])

In [50]:
A / B

array([1.        , 0.66666667, 0.6       , 0.57142857, 0.55555556,
       0.54545455, 0.53846154, 0.53333333, 0.52941176, 0.52631579,
       0.52380952, 0.52173913, 0.52      , 0.51851852, 0.51724138])

In [51]:
#matmul can be use to do matrix multiplication

In [52]:
np.matmul(C, D)

array([[ 2,  3],
       [ 6, 11]])

In [53]:
#Universal Function

In [54]:
np.sqrt(E)

array([[1.        , 1.41421356, 1.73205081, 2.        , 2.23606798],
       [2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766],
       [3.31662479, 3.46410162, 3.60555128, 3.74165739, 3.87298335]])

In [55]:
np.log(E)

array([[0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791],
       [1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509],
       [2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ]])

In [56]:
#where(condition, x, y) - this will loop through every element in the ndarray and return a new ndarray that replaces
#the element with x if condition is met, and y if the condition is not met

In [58]:
np.where(F%2 == 0, - 2, F*100)

array([ -2, 100,  -2, 300,  -2, 500,  -2, 700,  -2, 900,  -2])

In [67]:
#Indexing 1d array

In [60]:
A = np.arange(15)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [61]:
print(f'A[0]: {A[0]}')
print(f'A[5]: {A[5]}')
print(f'A[14]: {A[14]}')

A[0]: 0
A[5]: 5
A[14]: 14

In [62]:
#we can grab a section using A[start_index:stop_index] stop_index is not inclusive

In [63]:
A[0:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [64]:
#we can also modify

In [66]:
A[0:10] = 500
A

array([500, 500, 500, 500, 500, 500, 500, 500, 500, 500,  10,  11,  12,
        13,  14])

In [68]:
#Indexing 2d array

In [70]:
B = np.arange(50).reshape(5, 10)
B

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [71]:
#obtaining a single element can be done using B[row, col]

In [72]:
print(f'0th row and 2nd col in B: {B[0, 2]}')
print(f'3rd row and 3rd col in B: {B[3, 3]}')
print(f'4th row and 2nd col in B: {B[4, 2]}')

0th row and 2nd col in B: 2
3rd row and 3rd col in B: 33
4th row and 2nd col in B: 42

In [73]:
#we can also grab a section of interest from the 2darray. "B[0:2, 3:5]"
#that means we want rows 0-2 from B but only the elements in that row corresponding to columns 3-5

In [74]:
B[0:2, 3:5]

array([[ 3,  4],
       [13, 14]])

In [75]:
#we can also modify values in this way

In [76]:
B[0:2, 3:5] = -1
B

array([[ 0,  1,  2, -1, -1,  5,  6,  7,  8,  9],
       [10, 11, 12, -1, -1, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [78]:
#Boolean Array Indexing

In [79]:
C = np.arange(50).reshape(10, 5)
C

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [80]:
#we can index arrays using comparison operators
#this let us modify or select only elements meeting some condition

In [81]:
C % 2 == 0

array([[ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True],
       [False,  True, False,  True, False]])

In [84]:
#0 - false,  1 - true

In [85]:
(C % 2 == 0).sum()

25

In [86]:
#passing the boolean array as an index. what this will do is filter out the False elements and only leave us with the 
#elements corresponding to True (even values in our case)

In [87]:
C[C%2 == 0]

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])